# vim: et sr sw=4 ts=4 smartindent syntax=sh:
#
# Source this file in your script and all necessary libs
# will also be consumed.
#
__OPSGANG_LIBS="
"
if [[ -z "$BASH_SOURCE" ]] || [[ "$BASH_SOURCE" == "$0" ]]; then
    echo "ERROR $0: should be sourced, not run!" >&2
    exit 1
fi
RC=0

OPSGANG_add_source() {
    export OPSGANG_SOURCED="$OPSGANG_SOURCED $*"
}

OPSGANG_is_sourced() {
    OPSGANG_list_sourced | grep -P "^$1$" >/dev/null
}

OPSGANG_list_sourced() {
    printf "%s\n" $OPSGANG_SOURCED
}

__source() {
    local file="" file_abs="" rc=0
    local this="$BASH_SOURCE"
    local libdir="$(cd "$(dirname "$this")"; pwd)"

    local libs="$__OPSGANG_LIBS"
    for file in $libs; do
        file_abs=$libdir/$file
        [[ ! -z $DEBUG ]] && echo "DEBUG $this: ... sourcing $file_abs" >&2
        if . $file_abs
        then
            OPSGANG_add_source "$file_abs"
        else
            echo "ERROR $this: could not source $file_abs" >&2 && rc=1
        fi
    done
    return $rc
}
__source || RC=1 ; unset __source ; unset __OPSGANG_LIBS; return $RC
