# vim: et sr sw=4 ts=4 smartindent syntax=sh:
#
# Source this file in your script and all necessary libs
# will also be consumed.
# 
__OPSGANG_LIBS="
"
if [[ -z "$BASH_SOURCE" ]] || [[ "$BASH_SOURCE" == "$0" ]]; then
    echo "ERROR $0: should be sourced, not run!" >&2
    exit 1
fi
RC=0
__source() {
    local file="" file_abs="" rc=0 
    local this="$BASH_SOURCE"
    local libdir="$(cd "$(dirname "$this")"; pwd)"

    local libs="$__OPSGANG_LIBS"
    for file in $libs; do
        file_abs=$libdir/$file
        [[ ! -z $DEBUG ]] && echo "DEBUG $this: ... sourcing $file_abs" >&2
        ! . $file_abs && echo "ERROR $this: could not source $file_abs" >&2 && rc=1
    done
    return $rc
}
__source || RC=1 ; unset __source ; unset __OPSGANG_LIBS; return $RC
