cmd substitution subshell:
inline: \$(echo "from backslashed subshell in middle of line")
\$(echo "from backslashed subshell at beginning of line")

`echo unescaped backticks at beginning of line`

\`echo backticks already escaped\`
